/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Lato&family=Montserrat+Alternates:ital,wght@1,900&display=swap');

/* Variáveis das cores */

:root {
    --cor-azul: #2708A0;
    --cor-vermelho: #FF0000;
    --cor-laranja: #FF8200;
    --cor-marrom: #5f362b;
    --cor-verde: #66c721;
    --cor-roxo: #a82991;
    --cor-cream: #F3FFB9;
}

/* Configurações gerais */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fcfcfc;
}

h1 {
    font-size: 5.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-family:'Braah One', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

ul {
    list-style: none;
}

li {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

a:hover {
    opacity: 0.7;
}

/* Barra de navegação */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-azul);
    position: fixed;
}

.logo {
   font-size: 2.2rem;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #fff;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
}

.nav-list.active {
    transform: translateX(0);
}

/* Menu hamburguer */

.mobile-menu {
    cursor: pointer;
    display: none;
    padding: 5px;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
    transition: 0.6s;
}

.mobile-menu.active .linha-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha-2 {
    opacity: 0;
}

.mobile-menu.active .linha-3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.categoria-titulo {
    color: var(--cor-azul);
    padding: 30px;
}

/* Avisos */

.aviso-container {
    padding-top: 70px;
    margin-left: 10px;
    color: var(--cor-vermelho);
}

.aviso-container h3 {
    margin-top: 10px;
}

/* Card dos produtos */

.produto-card-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.produto-card {
    margin: 15px;
    border: 5px solid #000;
    padding: 10px;
}

.produto-titulo {
    padding: 30px;
    color: #2708A0;
}

/* Imagem e conteúdo extra dos produtos */

.produto-imagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.extra {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.extra h3 {
    font-size: 1.5rem;
    color: #2708A0;

    padding: 10px 5px;
    border: 3px solid #2708A0;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Botão para mais informações */

.produto-info p {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: var(--cor-azul);
    cursor: pointer;
    
    padding: 15px;
    margin: 20px 15px;
    border-radius: 10px;
}

.produto-dropdown {
    display: none;
}

/* Informação dos cards */

.produto-informacoes h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.produto-informacoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

.produto-gramas,
.produto-sabor,
.produto-preco {
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    text-align: left;
}

.produto-gramas h3,
.produto-sabor h3,
.produto-preco h3 {
    color: #2708A0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;

    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.produto-gramas li,
.produto-sabor li,
.produto-preco li {
    margin-bottom: 7px;
}

/* Responsivo */

@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    /* Barra de navegação */

    .nav-list {
        position: fixed;
        top: 5vh;
        right: -10px;
        width: 50vw;
        background-color: var(--cor-azul);
        border-radius: 0px 0px 20px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
        z-index: 999;
    }

    .nav-list li {
        text-align: center;
        margin: 15px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    /* Cor dos sabores */

    .morango {
        color: var(--cor-vermelho);
    }

    .laranja {
        color: var(--cor-laranja);
    }

    .uva {
        color: var(--cor-roxo);
    }

    .limao {
        color: var(--cor-verde);
    }

    .chocolate {
        color: var(--cor-marrom);
    }

    .baunilha {
        color: var(--cor-cream);
    }   
    
}

/* Animação dos links */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}